<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD.gg</title>
    <link rel="stylesheet" href="template/style.css">
</head>
<body>
    <div class="small-logo">
        <h2><a href=/>CRUD.gg</a></h2>
    </div>
    <div class="logo">Sign Up</div>
    <form class = "input" action="" method="post">
        <h4> ID: <input type="text" name="id" id="id"> </h4>
        <h4> 이름: <input type="text" name="name" id="name"></h4>
        <h4> PASSWORD: <input type="password" name="password" id="pw"> </h4>
        <h4> Check PW: <input type="password" name="check" id="check"></h4>
        <input type="submit"  value="Create">
    </form>
    
</body>
</html>